@charset "utf-8";
.card {
  border: initial;
}

.errors {
  width: 400px;
  /* font-size: 14px; */
  color: #e95353;
  border: 1px solid #e95353;
  background-color: #f2dede;
}

.error {
  color: #e95353;
}

.msr_newslist01 {
  border-top: 1px solid #AAAAAA;
  width: 100%;
}
.msr_newslist01 li {
  border-bottom: 1px solid #AAAAAA;
  font-size: 14px;
}
.msr_newslist01 li a {
  box-sizing: border-box;
  color: #000000;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}
.msr_newslist01 li a:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.msr_newslist01 li div {
  display: table-cell;
  width: 144px;
}
.msr_newslist01 li p {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

/* 時間の設定 */
.msr_newslist01 li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

/* カテゴリの設定 */
.msr_newslist01 li .cat01,
.msr_newslist01 li .cat02 {
  background-color: #1B73BA;
  border-radius: 1px;
  color: #FFFFFF;
  font-size: 9px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
}
.msr_newslist01 li .cat02 {
  background-color: #0E3A5F;
}

h3 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.msr_box01 {
  background-color: #1B73BA;
  width: 1000px;
}
.msr_box01 span{
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  color:#000000;
  display:block;
  padding: 8px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.msr_box01 img{
  margin:0 0 5px;
}
.msr_box01 .ttl {
  font-size: 18px;
  line-height: 1.6;
}
.msr_box01 p {
  font-size: 18px;
  line-height: 1.6;
}

/* .balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
} */

h4 {
  position: relative;
  display: inline-block;
  padding: 0 70px;
  width: 350px;
}

h4:before, h4:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h4:before {
  left:0;
}
h4:after {
  right: 0;
}

.head-4 {
  text-align: center;
}

.msr_btn12 a{
  width: 200px;
  padding:15px;
  color:#ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  background: #CC0033;
  /* display: block; */
  position:relative;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow:0px 15px 30px -15px rgba(0,0,0,0.3);
  -moz-box-shadow:0px 15px 30px -15px rgba(0,0,0,0.3);
  box-shadow:0px 15px 30px -15px rgba(0,0,0,0.3);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.msr_btn12 a:hover{
  opacity:0.7;
}

p.box {
  border-bottom: 1px solid rgb(164, 202, 245);
  padding-bottom: 15px; /* 内容と線との間隔量 */
}

#footer-btn {
  position: fixed;
  bottom: 20px;
  width: 20%;
  right: 80px;
  background-color: #CC0033;
}

.anime_test {
  display:  block;                /* ブロック要素にする */
  margin: 0 auto;                 /* 要素中央揃え */
  position:  relative;            /* 位置指定 */
  /* animation: anime1 1s ease;      アニメーション指定 */
}

@keyframes anime1 {
  0% {
      opacity:  0;                /* 透明度指定 */
      top: 0px;                  /* 位置指定 */
  }
  100% {
      opacity:  1;                /* 透明度指定 */
      top: 0;                     /* 位置指定 */
  }
}

#close-btn {
  font-size: 12px;
}

#m_form {
  position: fixed;
  bottom: 10px;
  width: 40%;
  /* right: 20px; */
  text-align: center;
  background-color: rgb(177, 172, 173);
  padding: 20px;
}

.post {
  text-align: center;
}

#textarea1 {
  resize: vertical;
  max-height: 500px;
  min-height: 100px;
}

.reply-btn {
  float: right;
}